.pull-right {
  display: flex;
  justify-content: flex-end;
}

.h1 {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}

.margin-top {
  margin-top: 23px !important;
}

.ui.button {
  background-color: white !important;
}

.ui.sidebar.vertical {
  height: 100vh !important;
  max-height: unset !important;
  border-radius: 0px !important;
}

.pushable {
  overflow-x: unset !important;
}
